<main class="content">
      <a href=https://web.engr.oregonstate.edu/~elwellr/CS340/index.html>Return to Home</a>

      <h2>If you are a student enter your ID to delete your info:</h2>
      <form>
          <label for="studentid">Student ID:</label><br>
          <input type="text" id="studentid" name="studentid"><br><br>
      </form>
      <input type="submit" value="Delete"><br>

      <h2>If you are a Tutor enter your ID to delete your info:</h2>

        <form>
            <label for="tutorid">Tutor ID:</label><br>
            <input type="text" id="tutorid" name="tutorid"><br><br>
        </form>
        <input type="submit" value="Delete"><br>

    </main>