<main>
    <h1>Tutoring for College Students</h1>
    <p>It can be a hassle for students to try to find tutors that meet their specific needs. We facilitate connection between compatible students and tutors. Boom, no more hassle!</p>

    <ul>
    <li><a href='/colleges'>Enter your Info</a></li>
    <li><a href='/update'>Update your Info</a></li>
    <li><a href='/delete'>Delete your Info</a></li>
    <li><a href='/students'>Looking for Tutors?</a></li>
    <li><a href='/tutors'>Looking for Students?</a></li>
    </ul>

</main>