<main>
    <div class="homePageInfo">
        <h1>Tutoring for College Students</h1>
        <p>It can be a hassle for students to try to find tutors that meet their specific needs. We facilitate connection between compatible students and tutors. Boom, no more hassle!</p>
    </div>
</main>