<main class="content">
      <a href=https://web.engr.oregonstate.edu/~elwellr/CS340/index.html>Return to Home</a>

      <h2>Update student info here:</h2>
      
      <form>
          <label for="studentid">Student ID:</label><br>
          <input type="text" id="studentid" name="studentid"><br>
          <label for="fname">First name:</label><br>
          <input type="text" id="fname" name="fname"><br>
          <label for="lname">Last name:</label><br>
          <input type="text" id="lname" name="lname"><br>
          <label for="gpa">GPA:</label><br>
          <input type="text" id="gpa" name="gpa"><br>
          <label for="college">College:</label><br>
          <input type="text" id="college" name="college"><br>
          <label for="email">Email:</label><br>
          <input type="text" id="email" name="email"><br>
          <label for="gender">Gender:</label><br>
          <input type="text" id="gender" name="gender"><br>
          <label for="yearInSchool">Year in School (freshman, sophomore, junior, or senior):</label><br>
          <input type="text" id="yearInSchool" name="yearInSchool"><br>
          <label for="budget">Budget (max amount you're willing to spend per hour):</label><br>
          <input type="text" id="budget" name="budget"><br>
          <label for="studentClasses">Classes you need help in (please provide list with commas):</label><br>
          <input type="text" id="studentClasses" name="studentClasses"><br><br>
      
      </form>
      <input type="submit" value="Update"><br><br>
      
      <h2>Update tutor info here:</h2>

        <form>
            <label for="tutorid">Tutor ID:</label><br>
            <input type="text" id="tutorid" name="tutorid"><br>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname"><br>
            <label for="affiliatedColleges">Affiliated Colleges (either remotely or in-person):</label><br>
            <input type="text" id="affiliatedColleges" name="affiliatedColleges"><br>
            <label for="classExpertise">Classes that you have expertise in (please provide list with commas):</label><br>
            <input type="text" id="classExpertise" name="classExpertise"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="age">Age:</label><br>
            <input type="text" id="age" name="age"><br>
            <label for="lname">Gender:</label><br>
            <input type="text" id="gender" name="gender"><br>
            <label for="hourlyRate">Hourly rate:</label><br>
            <input type="text" id="hourlyRate" name="hourlyRate"><br><br>
        </form>
        <input type="submit" value="Update"><br>

    </main>