body {
    margin:0;
    padding:0;
    padding-top: 60px; 
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    background-color: #023E8A;
    color: #CAF0F8;
}

h2 { text-align: center }

/* NAVBAR STYLING */

#navbar {
    /*Aligns the rest of the nav-bar items to the right of the screen*/
    flex-grow: 1;
    display: flex;
    position: fixed;
    background-color: #03045E;
    color: #CAF0F8;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

#navbar ul {
    /*Removes bullet points from the list*/
    display: flex;
    list-style-type: none;

    /*Removes default list padding/margins*/
    margin: 0;

    /*Styles the font of navbar items*/
    font-size: 30px;
    font-weight: 300;
    color: #edede8;
}

#navbar li {
    /*Adjusts the spacing between items in the navbar*/
    margin: 0;
    padding: 10px;
}

#navbar li:hover {
    /*Changes the color of navbar elements on hover*/
    background-color: #4b4f40;

    /*Styles the mouse to show interactivity w/these*/
    cursor: pointer;
}

/* TABLE STYLING */

.styled-table {
    background-color: #0096C7;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    color: black;
    text-align: left;
}

.styled-table th, .styled-table td {
    color: black;
    padding: 12px 15px;
}

.styled-table tbody tr {
    background-color: #90E0EF;
    border-bottom: thin solid black;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ADE8F4;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 3px solid black;
}

/* ADD CONTAINER STYLING */
.add-container {
    display: inline-block;
    min-width: 200px;
    max-width: 600px;
    margin: 10px 10px auto 10px;
    padding: 20px;
    border-radius: 3px;
    background-color: #03045E;
}
  
.add-container h2 {
    margin: 0;
}

.add-input-container {
    width: 100%;
    margin: 20px 0;
    align-items: center;
}

.add-input-element {
    margin: 0 5px;
    display: flex;
    flex: 1 1 100%;
}

.add-input {
    font-size: 14px;
    width: 100%;
    margin-left: 10px;
    padding: 3px;
    background-color: #00B4D8;
    border: thin solid black;
    border-radius: 3px;
}

.add-fieldset {
    flex: 1 100%;
    border: thin solid #ababab;
}

#submitButton {
    font-size: 14px;
    color: white;
    padding: 5px;
    background-color: #000;
    border: thin solid #ababab;
    border-radius: 5px;
    font-weight: lighter;
    cursor: pointer;
}

#submitButton:hover {
    background-color: #f9d2b2;
    border-color: #333;
    color: #333;
}

button {
    font-size: 15px;
    color: white;
    padding: 5px;
    background-color: #000;
    border: thin solid #ababab;
    border-radius: 5px;
    font-weight: lighter;
    cursor: pointer;
}

button:hover {
    background-color: #f9d2b2;
    border-color: #333;
    color: #333;
}

#searchButton {
    font-size: 15px;
    color: white;
    padding: 5px;
    background-color: #000;
    border: thin solid #ababab;
    border-radius: 5px;
    font-weight: lighter;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #f9d2b2;
    border-color: #333;
    color: #333;
}

/* Removes any decoration on links (mainly for update buttons) */
a:link { text-decoration: none; color: white; }
a:visited { text-decoration: none; color: white; }
a:hover { text-decoration: none; color: black; }
a:active { text-decoration: none; color: white; }

/* For search input container */
.searchContainer {
    text-align: center;
    background-color: #03045E;
    border: thin solid black;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 50%;
    padding: 10px;
}

.searchContainer input {
    font-size: 16px;
    padding: 3px;
    background-color: #00B4D8;
    border: thin solid black;
    border-radius: 3px;
}

.addContainer {
    text-align: center;
    background-color: #03045E;
    border: thin solid black;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
    min-width: 200px;
    max-width: 800px;
    padding: 10px;
}

.addContainer input {
    margin: 5px 10px 5px 0;
    padding: 3px;
    background-color: #00B4D8;
    border: thin solid black;
    border-radius: 3px;
}

.addContainerTitle {
    font-size: 14px;
    color: white;
    margin: auto;
    text-align: center;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {
    margin: 5px 10px 5px 0;
}