/* Overall Body Styling */
body {
    /* Removes initial padding/margins */
    margin: 0;
    padding: 0;

    /* Set correct padding */
    padding-top: 60px; 
    padding-bottom: 30px;
}

/* Front Page Text Styling */
.homePageInfo {
    /* Position text */
    text-align: center;
    margin: auto;
    padding: 5px;
    width: 50%;

    /* Set colors and add curved edges */
    background-color: #009879;
    border-radius: 4px;
    color: white;
}

/* Navbar Styling */
#navbar {
    /* Positions navbar correctly */
    display: flex;
    flex-grow: 1;
    top: 0;
    width: 100%;

    /* Keeps navbar fixed when scrolling */
    position: fixed;

    /* Sets green color background */
    background-color: #009879;
}

#navbar ul {
    /* Removes bullet points from the list */
    display: flex;
    list-style-type: none;

    /* Removes default list margins */
    margin: 0;

    /* Styles the font of navbar items */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
}

#navbar li {
    /* Adjusts the spacing between items in the navbar */
    margin: 0;
    padding: 10px;
}

#navbar li:hover {
    /* Changes the color of navbar elements on hover */
    background-color: black;

    /* Styles the mouse to show interactivity */
    cursor: pointer;
}

/* Display Table Styling */
.styled-table {
    /* Positions table correctly */
    margin: auto;
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    /* Styles the font */
    font-size: 0.9em;
    font-family: sans-serif;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

/* Adds padding for table elements */
.styled-table th, .styled-table td { padding: 12px 15px; }

/* Adds darkness to every other row, easier to read */
.styled-table tbody tr:nth-of-type(even) { background-color: #f3f3f3; }

/* Adds a green border to bottom of table */
.styled-table tbody tr:last-of-type { border-bottom: 3px solid #009879; }

/* Button Styling */
#styledButton {
    /* Font Styling */
    font-size: 15px;
    color: white;
    font-weight: lighter;

    /* Set padding and color */
    padding: 5px;
    background-color: black;

    /* Set border and add curved edges */
    border-radius: 5px;
    border-style: solid;
    
    /* Makes cursor pointer to show user can click */
    cursor: pointer;
}

#styledButton:hover {
    /* Set colors */
    color: #333;
    background-color: #f9d2b2;

    /* Set border */
    border-color: #333;
    border-style: solid;
}

/* Removes any decoration on links (for buttons) */
a:link { text-decoration: none; color: white; }
a:visited { text-decoration: none; color: white; }
a:hover { text-decoration: none; color: black; }
a:active { text-decoration: none; color: white; }

/* Insert & Search Container Styling */
.outerContainer {
    /* Make sure container is centered, set margins */
    text-align: center;
    margin: 10px;
}

.addContainer {
    /* Position centrally, add padding/margins */
    display: inline-block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 10px;

    /* Add color, curve edges */
    background-color: #009879;
    border-radius: 4px;
    
    /* Font styling */
    color: white;
    font-weight: 700;
}

.addContainer input {
    /* Add space between each input value */
    margin: 5px 10px 5px 0;
    padding: 3px;
    
    /* Add border and curved edge */
    border: thin solid black;
    border-radius: 3px;
}

.addContainer h3 {
    /* Center and style container title */
    font-size: 18px;
    color: white;
    margin: auto;
    text-align: center;
}

.form-inline {
    /* Center form items and wrap */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Add spacing for input labels */
.form-inline label { margin: 5px 10px 5px 0; }

/* Make input smaller for number inputs */
.numberInput { width: 40px; }